/* CSS Custom Styles Westchester Technologies */

/* Custom .top-bar Styles 
*
*
*
*/
.top-bar, .top-bar-section li a:not(.button) {
    background: #EB5E30;
}

.top-bar-section ul {
    background: #F18763;
}

.top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
      border-right: solid 1px #F6AF97;
      border-left: solid 1px #FAA486;
}